{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="encadrement-form">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté(e) en tant que
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">déconnexion</a>
				</div>
			{% endif %}

			<h1 class="text-center">Connexion</h1>

			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-4" autocomplete="email" required autofocus placeholder="Adresse électronique">

			<input type="password" name="password" id="inputPassword" class="form-control mt-4" autocomplete="current-password" required placeholder="Mot de passe">

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<br>

			<label>
				<input type="checkbox" name="_remember_me" checked/>
				Se souvenir de moi
			</label>

			<br><br>

			<button class="btn btn-dark" type="submit">
				Se connecter
			</button>
		</form>

		<br>
		<a href="{{ path('app_register') }}" class="text-dark">
			Pas encore inscrit(e) ?
			<span class="fw-bold">Inscrivez-vous</span>.
		</a>
	</div>
{% endblock %}
