{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="encadrement-form">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté(e) en tant que
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">déconnexion</a>
				</div>
			{% endif %}

			<h1>Connexion</h1>

			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#Décommentez cette section et ajoutez une option remember_me sous votre pare-feu pour activer la fonctionnalité de "se souvenir de moi". Voir https://symfony.com/doc/current/security/remember_me.html#}

			<br>

			<a href="{{ path('app_register') }}" class="text-dark">
				Pas encore inscrit(e) ?
				<span class="fw-bold">Inscrivez-vous</span>.
			</a>

			<br>

			<button class="btn btn-dark" type="submit">
				Se connecter
			</button>
		</form>
	</div>
{% endblock %}
