{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% set mois_fr = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'] %}

	<div>
		<h1>{{ article.title }}</h1>

		<p>({{ article.createdAt|date('j ') ~ mois_fr[article.createdAt|date('n')] ~ article.createdAt|date(' Y') }})</p>

		<p class="card-text">
			<span class="badge badge-secondary">
				{{ article.niveau.name }}
			</span>
			<span class="badge badge-success">
				{{ article.theme.name }}
			</span>
		</p>

		<p>{{article.description|raw }}</p>
	</div>
{% endblock %}
