{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% set mois_fr = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'] %}

	<div class="text-dark encadrement">
		<h1>{{ article.title }}</h1>

		<p>({{ article.createdAt|date('j ') ~ mois_fr[article.createdAt|date('n')] ~ article.createdAt|date(' Y') }})</p>

		<p class="card-text">
			<span class="badge badge-secondary">
				{{ article.niveau.name }}
			</span>
			<span class="badge badge-success">
				{{ article.theme.name }}
			</span>
		</p>

		<div class="section-article-video">
			<div id="section-article-video-gauche">
				<iframe class="iframe-video-article shadow" src="{{ article.lienYoutube }}" frameborder="0"></iframe>
			</div>
			<div
				id="section-article-video-droite">

				<!-- Pills content -->
				<div class="tab-content" id="ex1-content">
					<div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
						<section class="section-article-content-text">
							<p class="card-text">
								<i class="fas fa-bars-staggered me-1"></i>
								{{ article.content|raw }}
							</p>
						</section>
					</div>
					<div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
						<section class="section-article-content-text">
							<p class="card-text">
								<i class="far fa-comment-dots me-1"></i>
								{{ dialogue.paragraphe|raw }}
							</p>
						</section>
					</div>
				</div>
				<!-- Pills content -->

				<!-- Pills navs -->
				<ul class="nav nav-pills" id="ex1" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="shadow nav-link nav-link-pills-dialogue bg-dark text-light active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">
							<i class="fas fa-bars-staggered me-1"></i>
							Article
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="shadow nav-link nav-link-pills-dialogue bg-light text-dark" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2" aria-selected="false">
							Dialogue
							<i class="far fa-comment-dots ms-1"></i>
						</a>
					</li>
				</ul>
				<!-- Pills navs -->
			</div>
		</div>

		<section class="section-center">
			<i class="fas fa-angles-down"></i>
		</section>

		<section>
			<h4 class="text-dark">
				<i class="fas fa-box-open me-1"></i>
				Vocabulaire
			</h4>

			<div class="row row-cols-1 row-cols-md-2 g-4 mt-1 mb-2">
				{% for vocabulaire in vocabulaires %}
					<div class="col">
						<div class="card h-100">
							<div class="card-body">
								<p class="card-text">
									<i class="fas fa-caret-right me-1"></i>
									<span>{{ vocabulaire.word }}</span>
									{{ vocabulaire.definition|raw }}
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endblock %}
