{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% set mois_fr = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'] %}
	<div>
		<h1 class="text-center">Hello LaBelleLangue.io</h1>

		<br><br>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for article in articles %}
				<div class="col">
					<div class="card h-100">
						<img src="{{ article.image }}" class="card-img-top" alt="{{ article.title }}" onerror="this.style.display='none';"/>
						<div class="card-body">
							<h5 class="card-title">
								{{ article.title }}

								<span class="card-article-createdAt">
									({{ article.createdAt|date('j ') ~ mois_fr[article.createdAt|date('n')] ~ article.createdAt|date(' Y') }})
								</span>
							</h5>

							<p class="card-text">
								<span class="badge badge-secondary">
									{{ article.niveau.name }}
								</span>
								<span class="badge badge-success">
									{{ article.theme.name }}
								</span>
							</p>

							<p class="card-text">
								<i class="fas fa-caret-right me-1"></i>
								{{ article.description|striptags|length > 130 ? article.description|striptags|slice(0, 130) ~ ' ...' : article.description|striptags }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<br><br>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for theme in themes %}
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<i class="fas fa-layer-group me-1"></i>
								{{ theme.name}}
							</h5>
							<p class="card-text">
								{{ theme.description|striptags|length > 142 ? theme.description|striptags|slice(0, 142) ~ ' ...' : theme.description|striptags }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<br><br>

		<div class="row row-cols-1 row-cols-md-4 g-4">
			{% for niveau in niveaux %}
				<div class="col">
					<div class="card card-niveau">
						<div class="card-body card-niveau-body">
							{{ niveau.name}}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
