{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="encadrement">
		<h1>{{ lecon.title }}</h1>
		<p>{{ lecon.categorie }}</p>


		{% if lecon.likes > 0 or lecon.dislikes > 0 %}
			<a>
				{{ (lecon.likes * 100 / (lecon.likes + lecon.dislikes))|default(0)|round(0) }}% des apprenants ont aimé cette leçon. Et vous ?
			</a>
		{% endif %}
		<br>
		<a class="me-1" href="{{ path('lecon_like', {'id': lecon.id}) }}">
			<i class="fas fa-thumbs-up icon-like"></i>
		</a>
		<a class="ms-1" href="{{ path('lecon_dislike', {'id': lecon.id}) }}">
			<i class="fas fa-thumbs-down icon-like"></i>
		</a>

		<br>

		<p>
			{{ lecon.content|raw }}
		</p>

		<br>
		<h4>Article dans lequel ces notions sont abordées :</h4>
		<a href="{{ path('article', {'slug':article.slug}) }}">
			{{ lecon.article }}
		</a>

		<br><br>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				{% if lecon.image1 %}
					<img src="/assets/images/{{ lecon.image1 }}" class="card-img-lecon" alt="{{ lecon.title }}">
				{% endif %}
			</div>
			<div class="col">
				{% if lecon.image2 %}
					<img src="/assets/images/{{ lecon.image2 }}" class="card-img-lecon" alt="{{ lecon.title }}">
				{% endif %}
			</div>
			<div class="col">
				{% if lecon.image3 %}
					<img src="/assets/images/{{ lecon.image3 }}" class="card-img-lecon" alt="{{ lecon.title }}">
				{% endif %}
			</div>
		</div>

	</div>
{% endblock %}
