<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for article in articles %}
		<a href="{{ path('article', {'slug':article.slug}) }}" class="text-dark">
			<div class="col">
				<div class="card h-100">
					<img src="{{ article.image }}" class="card-img-top" alt="{{ article.title }}" onerror="this.style.display='none';"/>
					<div class="card-body">
						<h5 class="card-title">
							{{ article.title }}

							<span class="card-article-createdAt">
								({{ article.createdAt|date('j ') ~ mois_fr[article.createdAt|date('n')] ~ article.createdAt|date(' Y') }})
							</span>
						</h5>

						<p class="card-text">
							<span class="badge badge-secondary">
								{{ article.niveau.name }}
							</span>
							<span class="badge badge-success">
								{{ article.theme.name }}
							</span>
						</p>

						<p class="card-text">
							<i class="fas fa-caret-right me-1"></i>
							{{ article.description|striptags|length > 130 ? article.description|striptags|slice(0, 130) ~ ' ...' : article.description|striptags }}
						</p>
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
