<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for lecon in lecons %}
		<a href="{{ path('membre_lecon', {'slug':lecon.slug}) }}" class="text-dark">
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title text-dark">
							{{ lecon.title }}
						</h5>
						<p class="card-text">
							{{ lecon.presentation|raw }}
						</p>
						{% if lecon.likes > 0 or lecon.dislikes > 0 %}
							<p>
								{{ (lecon.likes * 100 / (lecon.likes + lecon.dislikes))|default(0)|round(0) }}% des apprenants ont aimé cette leçon.
							</p>
						{% endif %}
					</div>
					<div class="card-footer">
						<p class="card-text">
							{{ lecon.categorie }}
						</p>
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
