<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for lecon in lecons %}
		<a href="{{ path('membre_lecon', {'slug':lecon.slug}) }}" class="text-dark">
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title text-dark">
							{{ lecon.title }}
						</h5>
						<p class="card-text">
							{{ lecon.presentation|striptags|length > 150 ? lecon.presentation|striptags|slice(0, 150) ~ '...' : lecon.presentation|striptags }}

							{% if lecon.likes > 0 or lecon.dislikes > 0 %}
								<br><br>
								<em>
									<i class="far fa-thumbs-up me-1"></i>
									{{ (lecon.likes * 100 / (lecon.likes + lecon.dislikes))|default(0)|round(0) }}% des apprenants ont aimé cette leçon.
								</em>
							{% endif %}
						</p>
					</div>
					<div class="card-footer">
						<p class="card-text">
							{{ lecon.categorie }}
						</p>
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
