<div class="accordion accordion-borderless" id="accordionFlushExampleX">
	{% for faq in faqs %}
		{% if faq.isShow == true %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingOneX">
					<button class="accordion-button shadow" type="button" data-mdb-toggle="collapse" data-mdb-target="#{{ faq.indice }}" aria-expanded="true" aria-controls="{{ faq.indice }}">
						<i class="fas fa-caret-right me-2"></i>
						{{ faq.question }}
					</button>
				</h2>
				<div id="{{ faq.indice }}" class="accordion-collapse collapse show" aria-labelledby="flush-headingOneX" data-mdb-parent="#accordionFlushExampleX">
					<div class="accordion-body">
						<p>
							{{ faq.reponse|raw }}
						</p>
					</div>
				</div>
			</div>
		{% else %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingThreeX">
					<button class="accordion-button shadow collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#{{ faq.indice }}" aria-expanded="false" aria-controls="{{ faq.indice }}">
						<i class="fas fa-caret-right me-2"></i>
						{{ faq.question }}
					</button>
				</h2>
				<div id="{{ faq.indice }}" class="accordion-collapse collapse" aria-labelledby="flush-headingThreeX" data-mdb-parent="#accordionFlushExampleX">
					<div class="accordion-body">
						<p>
							{{ faq.reponse|raw }}
						</p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>
