{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!
{% endblock %}

{% block body %}
	<div class="encadrement">
		<h1 class="text-center">Forum</h1>

		<!-- Affichage du message de succès -->
		{% for message in app.flashes('success') %}
			<br>
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<br>
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		<br>

		<a class="text-dark">
			<i class="fas fa-caret-right me-1"></i>
			{{ topic.article.title }}
		</a>
		<h2>
			{{ topic.title}}
		</h2>

		<p class="card-text">
			Publié le
			{{ topic.createdAt|date('d/m/y')}}
		</p>

		{% if topic.message %}
			<p>
				{{ topic.message|raw }}
			</p>
		{% endif %}

		<br>

		<section>
			{% for message in messages %}
				<div>
					<p>
						<i class="fas fa-reply-all text-danger"></i>
						{{ message.message }}
					</p>
					<p>
						par
						{{ message.user }}
						le
						{{ message.createdAt|date('d/m/y à H:i')}}
					</p>
				</div>
				<br>
			{% endfor %}
		</section>

		<section>
			<h3>Ajouter un message</h3>

			{{ form_start(form) }}
			{{ form_widget(form) }}
			<section class="d-flex justify-content-center">
				<button type="submit" class="btn btn-CTA">
					Publier
				</button>
			</section>
			{{ form_end(form) }}
		</section>

	</div>
{% endblock %}
